.header {
    width: 100%;

    background-image: url("../img/geers-top.svg");
    background-repeat: no-repeat;
    background-size: 538px 277px;
    background-position: top right;
}

.header__wrap {
    width: 1640px;
    margin: 0 auto;
}

.header__logo {
    margin: 135px 0 5px 0;
}
